<%- include ("../partials/header.ejs") %>
<%- include ("../partials/main_nav.ejs") %>
<!-- Main Content -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-nd-10">
                <h1><%= "Standings" %></h1>
                <a href="Standings/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle fas-border"></i> Add a Team
                </a>
                <br>
                <br>
                <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th class="text-center col-2"> Name</th>
                    <th class="text-center col-1"> W</th>
                    <th class="text-center col-1"> L</th>
                    <th class="text-center col-1"> GF</th>
                    <th class="text-center col-1"> GA</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>
                <!-- Repeat the template -->
                <% for(let count=0; count<Team.length; count++){ %>
                    <tr>
                        <td class="text-center"><%= Team[count].name%></td>
                        <td class="text-center"><%= Team[count].W%></td>
                        <td class="text-center"><%= Team[count].L%></td>
                        <td class="text-center"><%= Team[count].GF%></td>
                        <td class="text-center"><%= Team[count].GA%></td>
                        <td class="text-center">
                            <a href="/Standings/edit/<%= Team[count]._id %>"
                            class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i> Edit </a>
                        </td>
                       
                        <td class="text-center">
                            <a href="/Standings/delete/<%= Team[count]._id %>"
                            class="btn ">
                            <i class="fas fa-trash-alt fa-color"></i> Delete </a>
                        </td>
                        

                    </tr>
            <% }  %> 
        </table>
        </div>
</div>
</div>
</main>
<%- include ("../partials/bottom_nav.ejs") %>
<%- include ("../partials/footer.ejs") %>


